<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Application Form</title>
    <link href="E:/uijun2017/UIJun2017/10_13_2016/pawan/styles/app.css" rel="stylesheet"/>
</head>
<body>
    <center><h2><br>Harlow Council Job Application Form <br> </h2></center>

    <form>
        <br>
        <br>
        <label for="papplied">Post Applied for:</label>
        <input type="text" id="papplied" name="papplied"/>
        <label for="pno">Post Number:</label>
        <input type="text" id="pno" name="pno"/>
        <br>
        <label for="cdate">Closing Date:</label>
        <input type="text" id="cdate" name="cdate"/>
        <label for="in">In</label>
        <input type="text" id="in" name="in"/>
        <p>It is important that you read the guidance notes before completing this application form.
        Please complete this form fully using black ink or type. C.V.s are not accepted. Applications
        received after the closing date will not normally be considered.</p>

        <center><h3>THE INFORMATION YOU SUPPLY ON THIS FORM WILL BE TREATED IN CONFIDENCE</h3></center>
        <h4>Section1 Personal Details</h4>
        <label for="lname">Last Name: </label>
        <input type="text" id="lname" name="lastname"/>
        <label for="fname">First Name </label>
        <input type="text" id="fname" name="fname"/>
        <br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" size="80"/><br>
        <input type="text" id="address1" name="address1" size="80"/><br>
        <input type="text" id="address2" name="address2" size="80"/><br>
        <label for="pcode">Postcode:</label>
        <input type="text" id="pcode" name="pcode"/><br>
        <label for="htno">Home Telephone No.:</label>
        <input type="text" id="htno" name="htno"/>
    </form>
</body>
</html>